
.light-body{
    background-color: #e0e0e0;
}

.light-body hr{
    color: black;
}

/* ______________ ZONA ALARMAS __________________ */


.light-body .borrar button img{
    background-color: rgb(255 0 0);
}

.light-body .hora_descripcion{
    color: black;
}

.light-body .hora{
    background-color: transparent;
    color: #060606;
}

.light-body .tiempo_restante{
    border: 1px solid rgb(122, 122, 122);
    opacity: 0.9;
}

/* _________ CARTEL NUEVA ALARMA _____________ */

.light-body #nueva_alarma{
    background-color: #efefef
}

.light-body #nueva_alarma hr{
    color: black;
}

.light-body .botones{
    background-color: transparent;
    color: #ff5200;
}

.light-body #select_hora, 
.light-body #select_minutos{
    background-color: transparent;
    color: #060606;
}

.light-body #select_hora option,
.light-body #select_minutos option{
    color: #0a0a0a;
}

.light-body #dos_puntos{
    color: #060606;
}

.light-body #basic-addon1{
    background-color: #bbbbbb;
    color: black;
    border: 1px solid #989898;
}
.light-body #nueva_alarma form input{
    background-color: rgb(248, 248, 248);
    color: #464646;
}